* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

:root {
    /* Layout */
    --mobile: 375px;
    --desktop: 1440px;

    /* Colors */
    --tomato: hsl(4, 100%, 67%);

    /* Neutral */
    --darkSlateGrey: hsl(234, 29%, 20%);
    --charcoalGrey: hsl(235, 18%, 26%);
    --grey: hsl(231, 7%, 60%);
    --white: hsl(0, 0%, 100%);

}

a {
    text-decoration: none;
    color: var(--white);
}
.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1, label {
    font-weight: 700;
}

h1 {
    margin-bottom: 15px;
}

p {
    padding: 10px 0;
}

.img img{
    width: 100%;
}

.sign-up-mobile {
    display: block;
}

.sign-up-desktop {
    display: none;
}

.info {
    padding: 50px 25px;
    /* margin-right: 50px; */
}

.info-check-text img {
    margin-right: 10px;
}

.info-form {
    margin-top: 40px;
}

input, .btn {
    cursor: pointer;
    display: block;
    width: 100%;
    padding: 10px 10px 10px 16px;
    border-radius: 8px;
}

input {
    outline: none;
    border: 2px solid var(--grey);
    margin: 10px 0;
}

label {
    font-size: 12px;
    color: var(--charcoalGrey);
}

.btn {
    border: 0;
    background-color: var(--darkSlateGrey);
    color: var(--white);
    margin: 20px 0;
}

.btn:hover {
    background: var(--tomato);
}

/* Success */
span {
    color: var(--darkSlateGrey);
}

.success-text h1 {
    padding-top: 50px;
}

.success {
    padding: 100px 20px;
}

.success-text {
    padding-bottom: 300px;
}

@media screen and (min-width: 376px) {
    .main {
        padding: 3rem 5rem;
        flex-direction: row-reverse;
        background: var(--white);
    }

    .main {
        background: var(--charcoalGrey);
    }

    .sign-up-mobile {
        display: none;
    }
    
    .sign-up-desktop {
        display: block;
    }

    .success {
        padding: 0;
    }

}